<!--
<header>
</header>
<p>Main Page</p>
<a routerLink="Authentication">SetUp ICU</a>
<a routerLink="AlertAuthentication">Generate Alerts</a>
<a routerLink="PatientAuthentication">Patient Details</a>
<br>
    <router-outlet></router-outlet>
<footer>
</footer>
-->
<body>
<div class="topnav">
    <a routerLink="Authentication">Configure ICU</a>
    <a routerLink="PatientAuthentication">Patient Occupancy Portal</a>
    <a routerLink="AlertAuthentication">Monitor Vitals</a>
</div>
  
<div>
    <router-outlet></router-outlet>
</div>

</body>
