<!--
<p>icu-set-up-home-page works!</p>

<header>
</header>

<p>ICU SetUp HomePage</p>

<li><a routerLink="AllIcus">All ICU</a>
<li><a routerLink="GetSingleIcuDetail">Get Single ICU</a>
<li><a routerLink="RegisterIcu">Register ICU</a>
<li><a routerLink="DeleteIcu">Delete ICU</a>
<li><a routerLink="UpdateIcuDetails">Update ICU Details</a>
<br>
<router-outlet></router-outlet>
<footer>
</footer>
-->


    <div class="topnav">
            <a routerLink="AllIcus">Available ICUS</a>
            <a routerLink="GetSingleIcuDetail">ICU Details</a>
            <a routerLink="RegisterIcu">Register ICU</a>
            <a routerLink="DeleteIcu">Delete ICU</a>
            <a routerLink="UpdateIcuDetails">Update ICU Details</a>
            <a class="logout" routerLink="../alert-to-care">Logout</a>
    </div>
    <div class="mainPage">
    <div>
        <router-outlet></router-outlet>
    </div>
    </div>
