<!--
<h1> All ICU</h1>
 <table>
   <tr>
   <th>ID</th>
   <th>NoOfBeds</th>
   <th>Layout</th>
   </tr>

   <tr *ngFor="let icu of icuList">
    <td>{{icu.id}}</td>
    <td>{{icu.numberOfBeds}}</td>
    <td>{{icu.layout}}</td>
  </tr>
   </table>
-->
<br>
<div class="myContainer">
<h2>ICUS</h2>
<table id="allicu">
    <tr>
      <th>ID</th>
      <th>NoOfBeds</th>
      <th>Layout</th>
    </tr>
    <tr *ngFor="let icu of icuList">
      <td>{{icu.id}}</td>
      <td>{{icu.numberOfBeds}}</td>
      <td>{{icu.layout}}</td>
    </tr>
</table>
</div>