<!--
<p>patient-details-home-page works!</p>
<header>
</header>

<p>Patient Details Home Page</p>

<li><a routerLink="PatientDetailsByICUId">Patients By ICU Id</a>
<li><a routerLink="PatientDetailsByPatientId">All Patients By Id</a>
<li><a routerLink="AdmitPatient">Admit Patient</a>
<li><a routerLink="DischargePatient">Discharge Patient</a>
<li><a routerLink="UpdatePatientDetails">Update Patient Details</a>
<br>
<router-outlet></router-outlet>
<footer>
</footer> -->


    <div class="topnav">
        <a routerLink="PatientDetailsByICUId">Available Patients In ICU</a>
        <a routerLink="PatientDetailsByPatientId">Get Patient Details</a>
        <a routerLink="AdmitPatient">Admit Patient</a>
        <a routerLink="DischargePatient">Discharge Patient</a>
        <a routerLink="UpdatePatientDetails">Update Patient Details</a>
        <a class="logout" routerLink="../alert-to-care">Logout</a>
    </div>
      
    <div class="mainPage">
    <div>
        <router-outlet></router-outlet>
    </div>
    </div>
    
