
.mainPage {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('D:/a/AlertToCare/AlertToCare/Images/AlertTocarefrontPage.jpg');
  height: 580px;
}

  .topnav .logout
  {
    color: black;
  }
  .topnav {
    margin-top: 0px;
    overflow: hidden;
    background-color:#4d79ff;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color:#ccd9ff;
    color:#003366;
  }
  
  .topnav a.active {
    background-color:#99b3ff;
    color: white;
  }
  
  
