<br>
<div>
  <div class="div2">
      <label>Enter Patient Id</label>
      <br>
      <input #currentPatientId type="text" id="currentPatientId" name="currentPatientId?" required>
      <button (click)="getCurrentId(currentPatientId.value)">Submit</button>
   </div>
</div>

<h2>Patient Details</h2>

<div class="patientDetails">
<table id="patient">
    <tr>
      <th>Name</th>
      <td>{{ Patient?.name}}</td>
    </tr>
    <tr>
      <th>Age</th>
      <td>{{ Patient?.age}}</td>
    </tr>
    <tr>
      <th>Blood Group</th>
      <td>{{ Patient?.bloodGroup}}</td>    
    </tr>
    <tr>
      <th>Address</th>
      <td>{{ Patient?.address}}</td>
    </tr>
    <tr>
      <th>ICU ID</th>
      <td>{{ Patient?.icuId}}</td>
    </tr>
    <tr>
      <th>Bed Number</th>
      <td>{{ Patient?.bedNumber}}</td>
    </tr>
</table>
</div>
