body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
    background-image: url('C:/Users/320104085/OneDrive - Philips/Bootcamp/PersonalGit-GUI/AlertToCare/Images/AlertTocarefrontPage.jpg');
  }