<br>
<h2>Admit Patient</h2>
<div>
    <div class="div2">
        
        <label>ICU Id</label>
        <input #icu type="text" id="icu" name="icu" required>
        <label>Name</label>
        <input #name type="text" id="name" name="name" required>
        <label>Age</label>
        <input #age type="text" id="age" name="age" required>
        <label>Blood Group</label>
        <input #bloodgroup type="text" id="bloodgroup" name="bloodgroup" required>
        <label>Address</label>
        <input #address type="text" id="address" name="address" required>
        <label>Bed Number</label>
        <input #bednumber type="text" id="bednumber" name="bednumber" required>
        <button (click)="getBody(icu.value,name.value,age.value,bloodgroup.value,address.value,bednumber.value)">Admit</button>
    
    </div>
</div>

