input[type=text]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button 
{
    width: 100%;
    background-color:#4d79ff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
button:hover 
{
    background-color:#4d79ff;
}
  
.div2 
{
    width: 50%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    position: center;
}

div
{
padding-left: 300px;
align-items: center;
}

label{
    padding-left: 160px;
}

/*Details*/
h2
{
    text-align: center;
}
#icu 
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    background-color: white;
    background-color: transparent;
}
  
#icu td, #icu th
{
    border: 1px solid #ddd;
    padding: 8px;
    width: 50%;
}
  
#icu tr:nth-child(even)
{
    background-color:transparent;
}

  
#icu tr:hover 
{
    background-color: #ddd;
}
  
#icu th 
{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:#3366ff;
    color: white;
}

.icuDetails
{
  padding-left: 340px;
}
  