<br>
<div>
  <div class="div2">
      <label>Enter ICU Id</label>
      <br>
      <input #currentIcuId type="text" id="currentIcuId" name="currentIcuId?" required>
      <button (click)="getCurrentId(currentIcuId.value)">Submit</button>
  </div>
</div>

<h2>ICU Details</h2>

<div class="icuDetails">
<table id="icu">
    <tr>
      <th>ID</th>
      <td>{{ currentIcu?.id}}</td>
    </tr>
    <tr>
      <th>NoOfBeds</th>
      <td>{{ currentIcu?.numberOfBeds}}</td>
    </tr>
    <tr>
      <th>Layout</th>
      <td>{{ currentIcu?.layout}}</td>
    </tr>
</table>
</div>