<br>
<h2>Enter Details</h2>
<div>
    <div class="div2">
        <label>Patient Id</label>
        <input #patientId type="text" id="patientId" name="patientId" required>
        <br>
        <label>Beats Per Minute(BPM)</label>
        <input #bpm type="text" id="bpm" name="bpm" required>
        <br>
        <label>Oxygen Saturation(SpO2)</label>
        <input #spo2 type="text" id="spo2" name="spo2" required>
        <br>
        <label>Respiratory Rate(RR) </label>
        <input #rr type="text" id="rr" name="rr"  required>
        <br>
        <button (click)="getBody(patientId.value,bpm.value,spo2.value,rr.value)">Submit</button>
        <button (click)="turnoff(patientId.value,bpm.value,spo2.value,rr.value)">TurnOff</button>
    </div>
</div>

