  
name: Lint, Test & Build

on:
  push:
    branches: [ main ]

jobs:
  build:

    runs-on: windows-latest

    strategy:
      matrix:
        node-version: [12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    
    - name: Install node module
      run: npm install
      working-directory: angular
    
    - name: Install de
      run: npm ci
      working-directory: angular
   
    - name: Build
      run: npm run build
      working-directory: angular

    - name: Lint
      run: npm run lint
      working-directory: angular

    - name: Test
      run: npm run test
